@model MvcPL.Models.UserEditorViewModel

@{
    ViewBag.Title = "Details";
}
<script>
    function changePassword() {
        $("#currentPass").css('display', 'block');
        $("#newPass").css('display', 'block');
        $("#confirmedNewPass").css('display', 'block');
    }
</script>

@using (Html.BeginForm("Details", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3>@Model.NickName </h3>
    <div class="row-fluid">
        <div class="col-md-9 col-md-offset-3">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AvatarPath)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.NickName)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @required = true })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "col-md-offset-2" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, new { @class = "col-md-2 control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @placeholder = "Surname", @required = true })
                    @Html.ValidationMessageFor(model => model.Surname, null, new { @class = "col-md-offset-2" })
                </div>
            </div>
            <div class="form-group">
                <i class="col-md-offset-5" onclick="changePassword()"> Change Password</i>
            </div>
            <div class="form-group" id="newPass" style="display: none">
                <label class="col-md-2 control-label">New password</label>
                <div>
                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New password", required = true, type ="password" })
                    @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "col-md-offset-2" })
                </div>
            </div>
            <div class="form-group" id="confirmedNewPass" style="display: none">
                <label class="control-label col-md-2">Confirm new password</label>
                <div>
                    @Html.TextBoxFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm new password", required = true, type="password" })                
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, null, new { @class = "col-md-offset-2" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Avatar</label>
                <div class="col-md-3">
                    Click to change avatar:
                    <button class="btn btn-success glyphicon glyphicon-upload" type="button" onclick="document.getElementById('PictureInput').click()"></button>
                    <input type="file" name="PictureInput" id="PictureInput"
                           onchange="LoadPicture()" multiple accept="image/jpeg, image/png" style="visibility: hidden">
                </div>
                <div class="col-md-4">
                    <img class="img-rounded" id="PictureImg" src=@Model.AvatarPath alt="Your avatar" style="width: 128px; height: 128px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


