@model MvcPL.Models.SimpleArticleViewModel

@{
    ViewBag.Title = "Edit";
}

<script>
    $(document).ready(function() {
        $('.form-horizontal').validate({
        rules : {
            Tags: { required: true }
        },
        messages:{
            Tags: {
                required: "You must check at least 1 box."
            } 
        }
        });
    })
</script>

<div class="col-lg-10">
    @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div>
                <h2 style="text-align: center">Edit the article</h2>
                <hr />
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x =>x.BlogId)
                @Html.HiddenFor(x => x.CreationTime)
                @Html.HiddenFor(x => x.TitleImage)
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })
                    <div>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Name", @required = true })
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "col-md-offset-2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Text">Content</label>
                    <div class="col-md-offset-2">
                        <textarea class="form-control " rows="6" name="Text" id="Text">@Model.Text</textarea>
                        @Html.ValidationMessageFor(model => model.Text, null, new { @class = "col-md-offset-2" })
                        @*<span class="field-validation-error text-danger" data-valmsg-for="Content" data-valmsg-replace="true"></span>*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Tags</label>
                    <div>
                        <ul class="list-inline">
                            @Html.Action("PartialTags")
                        </ul>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-2 control-label">Title picture</label>
                    <div class="col-md-3">
                        Click to change title image for the article 
                        <button class="btn btn-success glyphicon glyphicon-upload" type="button" onclick="document.getElementById('PictureInput').click()"></button>
                        <input type="file" name="PictureInput" id="PictureInput"
                               onchange="LoadPicture()" multiple accept="image/jpeg, image/png" style="visibility: hidden">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded" id="PictureImg" src=@Model.TitleImage alt="Image" style="max-width: 100%; max-height: 400px;" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back", "Index", "Article")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
