@model MvcPL.Models.PagingViewModel<MvcPL.Models.FullArticleViewModel>
@using MvcPL.Infrastructure
@{
  ViewBag.Title = "SortedByTag";
}

<script>
    $(document).ready(function() {
        $('.btn-default').click(function() {
            $('#loading').show();
            var tagId = $('#Id').val();
            var chosenPage = this.innerHTML;
            $.ajax({
                type: "GET",
                url: "/Article/SortedByTag",
                data: { page: chosenPage, id : tagId },
                success : function(content) {
                    $('#loading').hide();
                    window.scrollTo(0,0);
                    $('#ArtContainer').html(content);
                    $(".btn").removeClass("btn-primary selected");
                    $("#page" + chosenPage + "").addClass("btn-primary selected");

                }
            });
            return false;
        });
    })

</script>

@Html.HiddenFor(model => model.Id)
<div class="col-lg-10">
    @if (Model.Name == null)
    {
        <h2 style="text-align: center">Tag with this id not found</h2>
    }
    else
    {
        <h2 style="text-align: center">Sorted by tag <label class="label label-success" style="text-decoration: white;"> @Model.Name </label></h2>
    } 
    <hr/>
    <div id="ArtContainer">
        @Html.Partial("ContentPartial")
    </div>
    <div class="col-md-offset-2" id="loading" style="display: none">
        <img src="/ArticlesContent/loading.gif" height="128px" width="128px" />
    </div>
    <div class="btn-group col-md-offset-2">
        @Html.PageLink(Model.Paging, x => Url.Action("SortedByTag", new { page = x, id = @Model.Id}))
    </div>
</div>
    
<div class="col-lg-offset-10">
    <div class="form-group ">
        @Html.Action("GetAllTags", "Article")
    </div>
    <div class="form-group ">
        @Html.Action("GetAllBlogs", "Blog")
    </div>
</div>